{
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "useTabs": false,
  "trailingComma": "es5",
  "proseWrap": "always",
  "overrides": [
    {
      "files": [".prettierrc"],
      "options": { "parser": "json" }
    }
  ]
}
