@font-face {
    font-family: 'FFKievit';
    src: url('../../assets/fonts/FF-Kievit-Pro-Regular.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'FFKievit';
    src: url('../../assets/fonts/FF-Kievit-Pro-Medium.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'FFKievit';
    src: url('../../assets/fonts/FF-Kievit-Pro-Bold.otf') format('opentype');
    font-weight: 500;
}
