@import "assets/screens.scss";

.navbar {
  margin-bottom: 5rem;

  @media (max-width: $screen-lg) {
    margin-bottom: 3rem;
  }
}

.brand {
  color: unset;

  h1 {
    font-family: var(--header-font);
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    color: #CCCED7;
    text-transform: uppercase;
    margin: 0;
    transition: all 1s;

    &:hover {
      color: var(--hover-text-color);
    }

    @media (max-width: $screen-lg) {
      font-size: calc(1.345rem + 1.14vw);
    }
  }
}

.nav {
  margin-left: auto;

  a {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--secondary-text-color) !important;
    transition: all 0.5s;

    &:hover {
      color: var(--text-color) !important;
    }
  }

  @media (max-width: $screen-lg) {
    text-align: center;
  }
}

.theme {
  margin-left: 2rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s linear;
}

.right {
  @media (min-width: $screen-lg) {
    order: 2;
  }
}
