body {
  --body-font: 'Inter', sans-serif;
  --header-font: 'Metropolis', sans-serif;
  --serif-font: 'Lora', sans-serif;
  --text-color: #233044;
  --secondary-text-color: #777c9b;
  --hover-text-color: #30475e;
  --primary-color: #448ef6;
  --warning-color: #fdb44b;
  --danger-color: #de6161;
  --success-color: #00c851;
  --background-color: white;
  --muted-color: #fafafa;
}

body.dark {
  --text-color: #f7f9fd;
  --secondary-text-color: #999999;
  --background-color: #0c2233;
  --muted-color: #081723;
}
