.heading {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 1;

    a {
      opacity: 1;
    }
  }

  a {
    position: absolute;
    font-size: 80%;
    transition: all 0.5s;
    margin-left: -4.5rem;
    opacity: 0;
  }
}
