@import "assets/screens.scss";

.title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  display: inline-block;

  @media (max-width: $screen-lg) {
    font-size: 1rem;
    display: block;
  }

  &:first-letter {
    padding-right: 0.5em;
  }

  &:hover, &:focus, &:active {
    color: var(--primary-color);
  }
}

.article {
  margin-bottom: 2.5rem;
}

.excerpt {
  margin-top: 1rem;
  font-size: 0.9em;
  line-height: 1.8em;
}
