@import '../../assets/screens.css';

.title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  display: inline-block;
}

.title:first-letter {
  padding-right: 0.5em;
}

.title:hover, .title:focus, .title:active {
  color: var(--primary-color);
}

@media (max-width: 1200px) {
  .title {
    font-size: 1rem;
    display: block;
  }
}

.article {
  margin-bottom: 2.5rem;
}

.excerpt {
  margin-top: 1rem;
  font-size: 0.9em;
  line-height: 1.8em;
}

.badge {
  color: white;
}
