.alert {
  display: flex;
  align-items: center;
  background: var(--muted-color);
  color: var(--primary-color);
  padding: 20px 60px 20px 40px;
  margin: 2rem 0;
  border-radius: 4px;
  border-left: 8px solid var(--primary-color);
  overflow: hidden;

  svg {
    font-size: 30px;
  }
}

.text {
  font-family: var(--body-font);
  padding-left: 20px;
  font-size: 18px;
  color: var(--text-color);
}

.danger {
  composes: alert;
  background: #ffb3ae;
  border-left: 8px solid var(--danger-color);
  color: var(--danger-color);
}

.warning {
  composes: alert;
  border-left: 8px solid var(--warning-color);
  color: var(--warning-color);
}

.success {
  composes: alert;
  border-left: 8px solid var(--warning-color);
  color: var(--success-color);
}
