@import url('https://github.githubassets.com/assets/gist-embed-b3b573358bfc66d89e1e95dbf8319c09.css');
@import 'assets/screens.scss';

.blog {
  font-family: var(--serif-font);
  font-size: 1.25rem;
  line-height: 1.7;
  margin: 2.5em auto 3.5em auto;
}

.blog p {
  line-height: 1.7;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.blog h1 {
  font-weight: 400;

  @media (max-width: $screen-lg) {
    font-size: 2rem;
    padding-right: 0.5rem;
  }
}

.blog .body > p:first-child:first-letter {
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.7rem 0.7rem 0.7rem 0;

  @media (max-width: $screen-lg) {
    font-size: 4rem;
  }
}

.blog span.gatsby-resp-image-wrapper {
  margin: 2.2em auto 2.2em auto;
}

.blog figure {
  margin: 2.2em auto 2.2em auto;

  span.gatsby-resp-image-wrapper {
    margin: 0;
  }
}

.blog figure figcaption {
  font-family: var(--body-font);
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  margin-top: 1em;
}

@for $index from 1 through 6 {
  .blog h#{$index} {
    line-height: 1.3;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: 500;
  }
}

.blog h1:first-child {
  margin-top: 0;
}

.blog ul,
ol {
  margin: 1.5rem 0;
}

.blog ul {
  li {
    list-style: none;
  }

  li span {
    display: inline-table;
    margin-left: 1em;
  }

  li svg {
    color: white;
    margin-left: -2em;
  }
}

.blog blockquote {
  font-size: 1.2rem;
  border-left: 0.2rem solid var(--text-color);
  padding-left: 1.5em;
  margin-left: -1.5em;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  font-style: italic;

  @media (max-width: $screen-lg) {
    margin-left: 0;
  }
}

@media (min-width: $screen-sm) {
  .blog {
    width: 300px;
  }
}
@media (min-width: $screen-md) {
  .blog {
    width: 500px;
  }
}
@media (min-width: $screen-lg) {
  .blog {
    width: 700px;
  }
}

.blog strong {
  font-weight: 600;
}

.blog .tag {
  font-family: var(--body-font);
  font-weight: 400;
  padding: 10px;
  margin-right: 10px;
}

.blog .code-highlight {
  overflow-x: scroll;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
  border-radius: 0.3em;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}

.blog .highlight {
  background: rgba(68, 142, 246, 0.3);
  padding: 0.1em 0.3em;

  &:hover {
    background: rgba(68, 142, 246, 0.75);
  }

  &:after {
    display: none;
  }
}

.blog hr {
  background-color: var(--secondary-text-color);
  border: none;
  height: 2px;
  margin: 4rem 0;
}
