@import '../../assets/screens.css';

.cover {
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.title {
  font-family: 'Metropolis', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.45em;
  animation: slideIn 0.5s ease-out;
}

.sub {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.45em;
  animation: slideIn 0.5s ease-out;
}

@media (max-width: 1200px) {
  .cover {
    margin-bottom: 5rem;
  }

  .title {
    font-size: calc(1.525rem + 3.3vw);
  }

  .sub {
    font-size: calc(1.325rem + 0.9vw);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
