@import "assets/screens.scss";

.cover {
  margin-top: 2rem;
  margin-bottom: 7rem;

  @media (max-width: $screen-lg) {
    margin-bottom: 5rem;
  }
}

.title {
  font-family: 'Metropolis', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.45em;

  @media (max-width: $screen-lg) {
    font-size: calc(1.525rem + 3.3vw);
  }
}

.sub {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.45em;

  @media (max-width: $screen-lg) {
    font-size: calc(1.325rem + 0.9vw);
  }
}
